.single__header
  .single__header__home
    =icon("fas","fas fa-home",class:"single__header__home__icon")
    =link_to "mercari" ,root_path,class:"single__header__home"
.single__main
  = form_with(model: @product, local: true, class: 'single__main__product') do |f|
    .single__main__product__header
      商品の情報を入力
    .single__main__product__image
      .single__main__product__image__class
        .single__main__product__image__class__label
          出品画像
        .single__main__product__image__class__Required
          必須
      .single__main__product__image__Supplement
        最大10枚までアップロードできます
      %label
        = f.fields_for :product_images do |image|
          %div{data: {index: "#{image.index}"}, class: 'js-file_group'}
            = image.file_field :image, class: 'js-file'
      %span{class: 'js-remove'} 削除

      .single__main__product__image__images
        .previews
        ドラッグアンドドロップ
        またはクリックしてファイルをアップロード
    .single__main__product__name
      .single__main__product__name__class
        .single__main__product__name__class__label
          商品名
        .single__main__product__name__class__Required
          必須
      = f.text_field :name, class:"single__main__product__name__nameform", placeholder: "商品名（必須４０文字まで）"
      .single__main__product__name__description
        .single__main__product__name__description__label
          商品の説明
        .single__main__product__name__description__Required
          必須
      = f.text_area :product_explain, class:"single__main__product__name__descriptionform",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
    .single__main__product__details
      .single__main__product__details__sell
        商品の詳細
      .single__main__product__details__category
        .single__main__product__details__category__class
          .single__main__product__details__category__class__label
            カテゴリー
          .single__main__product__details__category__class__Required
            必須
        = f.select :product_category_id, ProductCategory.all.map{|category| [category.name, category.id]}, class: "single__main__product__details__categoryform"
        .single__main__product__details__category__class
          .single__main__product__details__category__class__label
            ブランド
          .single__main__product__details__category__class__Required
            必須
        = f.select :product_brand_id, ProductBrand.all.map{|brand| [brand.name, brand.id]}, class: "single__main__product__details__categoryform"
        .single__main__product__details__category__condition
          .single__main__product__details__category__condition__label
            商品の状態
          .single__main__product__details__category__condition__Required
            必須
        = f.select :product_condition, class:"single__main__product__details__conditionform" do
          %option{value: "--"}  --
          %option{value: "新品・未使用"}  新品・未使用
          %option{value: "未使用に近い"}  未使用に近い
          %option{value: "目立った傷や汚れなし"}  目立った傷や汚れなし
          %option{value: "やや傷や汚れあり"}  やや傷や汚れあり
          %option{value: "傷や汚れあり"}  傷や汚れあり
          %option{value: "全体的に状態が悪い"}  全体的に状態が悪い
    .single__main__product__delivery
      .single__main__product__delivery__list
        配送について
      .single__main__product__delivery__list__icon
        =link_to "" do
          =icon("fas","fas fa-question-circle",class:"single__main__product__delivery__list__icon")
      .single__main__product__delivery__form
        .single__main__product__delivery__form__class
          .single__main__product__delivery__form__class__label
            配送料の負担
          .single__main__product__delivery__form__class__Required
            必須
        = f.select :product_fee, class:"single__main__product__delivery__deliveryform" do
          %option{value: "--"}  --
          %option{value: "送料込み（出品者負担）"}  送料込み（出品者負担）
          %option{value: "着払い（購入者負担）"}  着払い（購入者負担）
        .single__main__product__delivery__form__area
          .single__main__product__delivery__form__area__label
            発送元の地域
          .single__main__product__delivery__form__area__Required
            必須
        = f.select :prefecture_id, class:"single__main__product__delivery__areaform" do
          %option{value:  "1"}  --
        .single__main__product__delivery__form__area
          .single__main__product__delivery__form__area__label
            発送までの日数
          .single__main__product__delivery__form__area__Required
            必須
        = f.select :product_send_day, class:"single__main__product__delivery__areaform" do
          %option{value: "--"}  --
          %option{value:  "1~2日で発送"}  1~2日で発送
          %option{value: "2~3日で発送"}  2~3日で発送
          %option{value: "4~7日で発送"}  4~7日で発送
    .single__main__product__fee
      .single__main__product__fee__list
        販売価格(300〜9,999,999)
      .single__main__product__fee__list__icon
        =link_to "" do
          =icon("fas","fas fa-question-circle",class:"single__main__product__fee__list__icon")
      .single__main__product__fee__form
        .single__main__product__fee__form__class
          .single__main__product__fee__form__class__label
            価格
          .single__main__product__fee__form__class__Required
            必須
        .single__main__product__fee__calculation
          ¥
          = f.text_field :price, class:"single__main__product__fee__calculation__feeform",placeholder: "      例）300"
        .single__main__product__fee__form__tax
          販売手数料 (10%)
          .single__main__product__fee__form__tax__index
            -
        .single__main__product__fee__form__profit
          販売利益
          .single__main__product__fee__form__profit__index
            -
    .single__main__product__list
      .single__main__product__list__note
        =link_to "禁止されている出品","https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"
        ,
        =link_to "行為","https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"
        を必ずご確認ください。
      .single__main__product__list__note
        またブランド品でシリアルナンバー等がある場合はご記載ください｡
        =link_to "偽ブランドの販売","https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"
        は犯罪であ
      .single__main__product__list__note
        り処罰される可能性があります。
      .single__main__product__list__note
        また、出品をもちまして
        =link_to "加盟店規約","https://www.mercari.com/jp/seller_terms/"
        に同意したことになります。
        = f.submit "出品する", class: "single__main__product__list__exhibitionbtn"
        .single__main__product__list__returnbtn
          =link_to "もどる",root_path,class:"returnbtn"
.single__footer
  .single__footer__note
    =link_to "プライバシーポリシー","mercari.com/jp/privacy/",class:"single__footer__note"
    　
    =link_to "メルカリ利用規約","https://www.mercari.com/jp/tos/",class:"single__footer__note"
    　
    =link_to "特定商取引に関する表記","https://www.mercari.com/jp/tokutei/",class:"single__footer__note"
    .single__footer__image
      =link_to root_path do
        =image_tag "mercari.svg",size:"70x70"
    %p © Mercari, Inc.