.main
  .buy_item_container
    .h2
      購入内容の確認
    .buy_content
      .buy_content_inner
        .buy_item_box
          -@product_image.each do |image|
            = image_tag image.image.url, size: '230x230', class: 'buy_item_image'
          .buy_item_detail
            .buy_item_name
              =@product.name
            .buy_price
              .buy_price_inner
                ¥
                =@product.price
              .item_shipping_free
                (税込)送料込み
    .buy_item_content
      .buy_item_inner
        .form
          .buy_price_table
            .buy_price_label
              支払い金額
              .buy_price_cell
                .pay
                  ¥
                  =@product.price
          -# .buy_accordion
          %input{type: 'checkbox', class: 'buy_input'}
            %p.point_use ポイントを使用 (所持ポイント: P0)
          .buy_user_info
            .buy_user_info_inner
              .h3 
                支払い方法
            .user_info_text
              = link_to "#", class: "text" do
                .icon_plas_circle
                  =icon('fas',"fas fa-plus-circle")
              .buy_register_text
                = link_to '登録してください', new_product_card_path(@product.id)
          .buy_user_info_under
            .buy_user_info_under_inner
              .clearfix
                .left
                  配送先
                = link_to "#", class: "right" do
                  変更する
              .address
                .p
                  〒
                  = current_user.postalcode
                  %br
                  = current_user.city
                  = current_user.little_adress
                  %br
                  = current_user.nickname
          .buy_button
            =form_with url:product_card_buy_path(@product.id,@card.id),local: true,method: :post do |f|
              = f.hidden_field :user_id, value:  current_user.id
              = f.hidden_field :product_id, value:  @product.id
              = f.submit "購入する"

                

              

