.footer__top
  .footer__top__message
  .footer__top__link

.footer__under
  .footer__under__content
    %h3 メルカリについて
    = link_to "#", class: "footer__under__link" do
      会社概要（運営会社）
    = link_to "#", class: "footer__under__link" do
      採用情報
    = link_to "#", class: "footer__under__link" do
      プレスリリース
    = link_to "#", class: "footer__under__link" do
      公式ブログ
    = link_to "#", class: "footer__under__link" do
      メルカリロゴ利用ガイドライン
    .sns__logo
    = link_to "#", class: "sns__logo--color" do
      %i.fab.fa-twitter.fa-2x
    = link_to "#", class: "sns__logo--color" do
      %i.fab.fa-facebook-square.fa-2x
    

  .footer__under__content
    %h3 ヘルプ&ガイド
    = link_to "#", class: "footer__under__link" do
      メルカリガイド
    = link_to "#", class: "footer__under__link" do
      らくらくメルカリ便
    = link_to "#", class: "footer__under__link" do
      ゆうゆうメルカリ便
    = link_to "#", class: "footer__under__link" do
      大型メルカリ便
    = link_to "#", class: "footer__under__link" do
      車体取引ガイド
    = link_to "#", class: "footer__under__link" do
      メルカリあんしん・あんぜん宣言！
    = link_to "#", class: "footer__under__link" do
      偽ブランド品撲滅への取り組み
    = link_to "#", class: "footer__under__link" do
      メルカリボックス

  .footer__under__content
    %h3 プライバシーと利用規約
    = link_to "#", class: "footer__under__link" do
      プライバシーポリシー
    = link_to "#", class: "footer__under__link" do
      メルカリ利用規約
    = link_to "#", class: "footer__under__link" do
      あんしんスマホサポート精度に関する利用特約
    = link_to "#", class: "footer__under__link" do
      コンプライアンスポリシー

  .footer__under__content
    = link_to "#", class: "footer__under__link" do
      個人データの安全管理に係る基本方針
    = link_to "#", class: "footer__under__link" do
      特定商取引に関する表記
    = link_to "#", class: "footer__under__link" do
      資金決済法に基づく表示
    = link_to "#", class: "footer__under__link" do
      法令順守と犯罪抑止のために
    

  .footer__under__content
    %h3 国
    = link_to "#", class: "footer__under__link" do
      日本
    = link_to "#", class: "footer__under__link" do
      United States

  
  .under__logo