!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample65g
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <script type="text/javascript" src="https://checkout.pay.jp/">
  %body
    .header
      = render "layouts/header"
    .wrapper
      = yield
    .footer
      = render "layouts/footer"
    .btn
      =render "layouts/product_btn"
